@import "../config";

:root {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

// Main Styles
html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    text-rendering: geometricPrecision;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

// Base Style
p:not(:last-child),
.paragraph {
    margin-bottom: 8px;
}
