@import "../color";

::-moz-selection {
    background: $selection-background-color;
    color: $selection-color;
}

::selection {
    background: $selection-background-color;
    color: $selection-color;
}

.chayns--noSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
