@import "../../_color";

.accordion {
    border-bottom: 1px solid transparent;
    margin-top: 10px;

    transition: border 200ms ease-in-out 150ms, background-color 100ms ease,
        margin-bottom 200ms linear, border-radius 200ms, box-shadow 200ms;

    will-change: border, background-color, margin-bottom;

    &:not(.accordion--wrapped) {
        border-bottom-color: $accordion-border-bottom-color;
    }

    &:hover {
        background-color: $accordion-hover-background-color;
    }
}

.accordion--disabled {
    opacity: 0.6;
}

.accordion--trigger {
    cursor: pointer !important;
    pointer-events: all !important;
}

.accordion__head,
.accordion__item {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    height: 32px;
    pointer-events: all;
    position: relative;
    transition: height 300ms;
    user-select: none;
    will-change: height;

    .accordion__head__title {
        flex: 1;
        overflow: hidden;
        padding-right: 10px;
        text-overflow: ellipsis;
        transition: font-size 300ms, transform 300ms, font-weight 300ms;
        white-space: nowrap;
        width: 100%;
        will-change: font-size, font-weight;
    }
    .accordion__head__icon {
        align-items: center;
        color: $accordion-arrow-color;
        display: flex;
        height: 25px;
        justify-content: center;
        position: relative;
        transition: transform 250ms ease-in-out;
        width: 25px;
        will-change: transform;
        i {
            align-items: center;
            bottom: 0;
            display: flex;
            justify-content: center;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            &::before {
                vertical-align: middle;
            }
        }
    }

    .accordion__head__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5px;
        overflow: hidden;
        .right--search {
            position: absolute;
            right: 0;
            transition: opacity 0.25s ease;
            will-change: opacity;
        }
        &__search {
            opacity: 0;
            transform: translateX(150%);
            // transition: transform 0.5s ease, opacity 0.5s ease, width 0.5s ease;
            transition: transform 200ms ease, opacity 200ms ease,
                width 200ms ease;
            will-change: transfrom, opacity, width;
            &--active {
                opacity: 1;
                transform: translateX(0);
            }
            .input {
                line-height: 1;
            }
        }
    }
}

.accordion--fixed .accordion__head {
    cursor: default;
}

.accordion__body {
    @extend .animation__accordion--close;
    height: auto !important;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: position 300ms ease-in-out;
    will-change: position;
}

.accordion__intro {
    padding: 0 9px 6px;
}

.accordion__content {
    padding: 0 9px 9px 10px;
}

// multiple items which look like wrapped accordion entries
.accordion__item {
    border-top: 1px solid $accordion-item-border-bottom-color;
    cursor: default;
    height: inherit;
    min-height: 38px;
    padding: 8px 9px;

    &::before {
        display: none;
    }
}

.accordion.accordion--wrapped .accordion__item {
    padding-left: 30px;
}

// if this accordion is in another accordion
.accordion--wrapped {
    border-top: 1px solid $accordion-item-border-bottom-color;
    margin: 0;

    > .accordion__head {
        height: 40px;
    }

    > .accordion__body {
        clear: both;
    }

    .accordion__content {
        margin: 0 9px;
        padding: 0 0 18px 17px;
    }
}

.accordion.accordion--wrapped .accordion--wrapped {
    padding-left: 14px;
}

.accordion__body > .accordion__content + .accordion__item,
.accordion__body > .accordion__intro + .accordion__item,
.accordion__body > .accordion__content + * > .accordion__item,
.accordion__body > .accordion__intro + * > .accordion__item,
.accordion__body > .accordion__item:first-child,
.accordion__body > *:first-child > .accordion__item,
.accordion__body > .accordion__content + .accordion--wrapped,
.accordion__body > .accordion__intro + .accordion--wrapped,
.accordion__body > .accordion__content + * > .accordion--wrapped,
.accordion__body > .accordion__intro + * > .accordion--wrapped,
.accordion__body > .accordion--wrapped:first-child,
.accordion__body > *:first-child > .accordion--wrapped {
    border-top: none;
}

// state open
.accordion--open {
    &.accordion:not(.accordion--wrapped) {
        background-color: $accordion-open-background-color;
        border-color: transparent;
        margin-bottom: 30px;
        > .accordion__head {
            height: 38px;
            .accordion__head__title {
                font-size: 1.3rem;
            }
        }
    }

    &.accordion.accordion--wrapped
        > .accordion__head
        > .accordion__head__title {
        font-weight: 700;
    }

    > .accordion__head {
        .accordion__head__icon:not(.accordion__head__icon--no-rotate) {
            transform: rotate(90deg);
        }
    }

    > .accordion__body {
        @extend .animation__accordion--open;
        max-height: 9999px !important;
    }
}

// accordion cannot be closed, no arrows, should be used with --open
.accordion--fixed {
    &.accordion:not(.accordion--open):hover {
        background-color: transparent;
    }

    > .accordion__head {
        padding-left: 9px;

        &:hover {
            cursor: default;
        }

        &::before {
            display: none;
        }
    }
}

.accordion.accordion--flex {
    > .accordion__head,
    > .accordion__body > .accordion__item {
        align-items: center;
        display: flex;

        .__head__right {
            float: none;
            margin-left: auto;
        }

        .ellipsis {
            margin-right: 10px;
        }
    }
}

//animations
.animation__accordion--close {
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1) -0.1s;
    will-change: max-height;
}

.animation__accordion--open {
    transition: max-height 0.5s cubic-bezier(0.5, 0, 1, 0) 0s;
    will-change: max-height;
}

// mobile hover rewrite
.chayns--mobile,
.chayns--app {
    .accordion:not(.accordion--open):hover {
        background-color: transparent;
    }
}

//firefox ellipsis work around
.chayns-browser--firefox {
    .accordion__head,
    .accordion__item {
        white-space: normal;
    }
}

.accordion__head__right {
    overflow: hidden;

    .right--background {
        &-appear,
        &-enter,
        &-exit {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: opacity 400ms ease;
            will-change: opacity;
        }

        &-enter,
        &-appear {
            opacity: 0;
            right: 5px;

            &-active {
                opacity: 1;
            }
        }

        &-exit {
            opacity: 1;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);

            &-active {
                opacity: 0;
            }
        }
    }

    .right--foreground {
        &-appear,
        &-enter,
        &-exit {
            transition: transform 400ms, opacity 400ms ease;
            will-change: opacity;
        }

        &-enter,
        &-appear {
            opacity: 0;
            transform: translateX(150%);

            &-active {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &-exit {
            opacity: 1;
            transform: translateX(0%);

            &-active {
                opacity: 0;
                transform: translateX(150%);
            }
        }
    }
}
