// @deprecated
.cc__amount-control {
    display: inline-flex;
    overflow: hidden;
    padding: 0;
    width: auto;

    &::after {
        z-index: -1;
    }

    &__remove,
    &__add {
        background-color: rgba(255, 255, 255, 0.2);
        line-height: 28px;
        opacity: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;
        width: 0;
    }

    &__input {
        height: 28px !important;
        line-height: 28px !important;
        padding: 0;
        text-align: center;
        width: 55px;
    }

    &__button {
        background-color: rgba(0, 0, 0, 0);
        line-height: 28px;
        min-width: 55px;
        padding: 0 10px;
        vertical-align: middle;
    }

    .cc__amount-control--icon {
        line-height: 28px;
        opacity: 1;
        width: 28px;
    }

    &--active {
        .cc__amount-control {
            &--icon {
                opacity: 1;
                width: 40px !important;

                &:hover:not(.disabled) {
                    background-color: rgba(255, 255, 255, 0);
                }
            }

            &__button {
                &:hover:not(.disabled) {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    &--disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
