@import "../../_color";

.badge {
    background-color: $badge-background-color;
    border-radius: 15px;
    color: $badge-color;
    font-size: 0.8rem;
    padding: 2px 7px;
    text-align: center;
}
