@import "../../_color";

// @deprecated

$contextmenu-border: 1px solid $contextmenu-border-color;

.context-menu {
    background-color: $contextmenu-background-color;
    border: $contextmenu-border;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
    color: $contextmenu-color;
    opacity: 0;
    position: absolute;
    transition: opacity 0.35s ease-in-out;
    z-index: 900;

    &::after {
        background-color: $contextmenu-background-color;
        border-left: $contextmenu-border;
        border-top: $contextmenu-border;
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.05);
        content: "";
        height: 14px;
        position: absolute;
        width: 14px;
        z-index: -1;
    }

    &__children {
        .ts-ellipsis_v {
            color: map_get($colors, "headline");
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            justify-content: center;
            text-align: center;
        }
    }

    &__item {
        cursor: pointer;
        display: flex;
        padding: 5px 8px 5px 5px;

        &:hover {
            background-color: $contextmenu-hover-background-color;
        }

        &__icon {
            color: $contextmenu-icon-color;
            flex: 0 0 auto;
            margin: 0 8px 0 3px;
            text-align: center;
            width: 20px;
        }

        &__text {
            white-space: nowrap;
        }
    }

    &--active {
        opacity: 1;
    }

    &--position0 {
        transform: translate(calc(-100% + 22px), calc(-100% - 9px));

        &::after {
            bottom: -8px;
            right: 14px;
            transform: rotate(225deg);
        }
    }

    &--position1 {
        transform: translate(calc(-100% + 22px), 11px);

        &::after {
            right: 14px;
            top: -8px;
            transform: rotate(45deg);
        }
    }

    &--position2 {
        transform: translate(-21px, 11px);

        &::after {
            left: 14px;
            top: -8px;
            transform: rotate(45deg);
        }
    }

    &--position3 {
        transform: translate(-21px, calc(-100% - 9px));

        &::after {
            bottom: -8px;
            left: 14px;
            transform: rotate(225deg);
        }
    }

    &-overlay {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(20px);
        transition: transform 0.35s ease-in-out;
        width: 100%;
        z-index: 899;

        &--active {
            transform: translateY(0);
        }

        &--hide {
            display: none;
        }
    }
}

.cc__bubble__overlay {
    ul {
        margin: 0;
        padding: 0;
    }
}

.image-tool {
    background-color: $image-tool-background-color;
    color: $image-tool-color !important;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 32px;
    justify-content: center;
    text-align: center;
    width: 32px;

    i {
        color: $image-tool-color !important;
    }
}
