@import "../../_color";

// @deprecated
.chayns-gallery {
    position: relative;
    transform: translate(-1px, -1px);
    width: calc(100% + 2px);

    .gallery-grid {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        height: 100%;

        &.delete-mode {
            height: unset !important;
            position: relative;

            .gallery_item {
                height: 0;
                margin: 1px;
                padding-top: calc(33.33% - 2px) !important;
                width: calc(33.33% - 2px) !important;

                .gallery_item_inner {
                    top: 0;
                }

                .delete-icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .gallery_item {
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin: 1px;
            overflow: hidden;
            position: relative;
            transition: opacity 0.2s ease;

            .gallery_item_inner {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                outline: 1px solid rgba(0, 0, 0, 0.1);
                outline-offset: -1px;
                position: absolute;
                width: 100%;

                &--preview {
                    filter: blur(10px);
                    opacity: 1;
                    transition: opacity 0.75s ease, filter 0.5s ease;
                    will-change: opacity, filter;
                }

                &--preview-ready {
                    filter: blur(100px);
                    opacity: 0;
                }
            }

            &--wait_cursor {
                display: flex;
                justify-content: center;
            }

            &:hover {
                opacity: 0.9;
            }

            &:nth-child(1) {
                &:nth-last-child(1) {
                    height: calc(100% - 2px);
                    //Image 1 of 1
                    width: calc(100% - 2px);
                }

                &:nth-last-child(2) {
                    height: calc(100% - 2px);
                    //Image 1 of 2
                    width: calc(50% - 2px);
                }

                &:nth-last-child(3) {
                    height: calc(66.66% - 2px);
                    //Image 1 of 3
                    width: calc(100% - 2px);
                }

                &:nth-last-child(4) {
                    height: calc(66.66% - 2px);
                    //Image 1 of 4
                    width: calc(100% - 2px);
                }
            }

            &:nth-child(2) {
                &:nth-last-child(1) {
                    height: calc(100% - 2px);
                    //Image 2 of 2
                    width: calc(50% - 2px);
                }

                &:nth-last-child(2) {
                    height: calc(33.33% - 2px);
                    //Image 3 of 3
                    width: calc(50% - 2px);
                }

                &:nth-last-child(3) {
                    height: calc(33.33% - 2px);
                    //Image 2 of 4
                    width: calc(33.33% - 2px);
                }
            }

            &:nth-child(3) {
                &:nth-last-child(1) {
                    height: calc(33.33% - 2px);
                    //Image 2 of 3
                    width: calc(50% - 2px);
                }

                &:nth-last-child(2) {
                    height: calc(33.33% - 2px);
                    //Image 3 of 4
                    width: calc(33.33% - 2px);
                }
            }

            &:nth-child(4) {
                &:nth-last-child(1) {
                    height: calc(33.33% - 2px);
                    //Image 4 of 4
                    width: calc(33.33% - 2px);
                }
            }
        }
    }

    .more-images {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;

        &::after {
            align-items: center;
            background-color: rgba(0, 0, 0, 0.75);
            bottom: 0;
            color: #fff;
            content: attr(data-more);
            display: flex;
            font-size: 42px;
            justify-content: center;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
        }
    }
}
