@import "../../_color";
@import "../../_config";

// @deprecated
.react-chayns-icon {
    color: map_get($colors, headline);
    font-size: round($base-font-size);

    .button & {
        color: inherit;
        font-size: inherit;
    }

    &--clickable {
        cursor: pointer;
    }

    &--disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.chayns__icon {
    color: map_get($colors, headline);
    font-size: round($base-font-size);

    .button & {
        color: inherit;
        font-size: inherit;
    }
}
