@import "../../_color";

// @deprecated
.cc__modeswitch {
    align-items: center;
    animation: modeSwitchInit 2s 0s 1 ease-out;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(calc(-100% + 25px));
    transition: transform 0.25s ease-out;
    width: 100%;
    z-index: 1000;
    &--open {
        transform: translateY(0);
    }
    &__content {
        background-color: $modeswitchBackgroundColor;
        border: 1px solid $modeswitchBorderColor;
        border-top: none;
        padding: 20px 30px 25px;
        width: 92%;
    }
    &__trigger {
        background-color: $modeswitchBackgroundColor;
        border: 1px solid $modeswitchBorderColor;
        border-top: none;
        color: $modeswitchIconColor;
        cursor: pointer;
        height: 25px;
        line-height: 25px;
        text-align: center;
        transform: translateY(-1px);
        vertical-align: middle;
        width: 60px;
        svg {
            animation: modeSwitchTriggerCogInit 1.5s 1.5s 1 ease;
        }
        &--red {
            background-color: red;
            color: white;
        }
    }
}

@keyframes modeSwitchInit {
    0% {
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(calc(-100% + 25px));
    }
}

@keyframes modeSwitchTriggerCogInit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
