// @deprecated
.cc__opening-times {
    .flex {
        display: flex;
        flex-flow: row wrap;
        .flex__left {
            flex: 1;
            padding: 3px 0 0;
        }
        .flex__right {
            max-width: 200px;
            text-align: right;
            .inline__block {
                display: inline-block;
            }
        }
    }

    .time__span {
        display: flex;
        max-height: 29px;
        transition-duration: 1500ms;
        width: 170px;
        span {
            text-align: center;
            width: 30px;
        }
        &--input {
            float: right;
            text-align: center;
            width: 100px;
            input {
                text-align: center;
                width: 100%;
            }
        }
        &--button {
            min-width: 25px;
        }
        .add {
            transform: rotate(0deg);
        }
        .remove {
            transform: rotate(45deg);
        }
    }

    .times {
        transition: all 0.2s;
        &.multiple {
            margin: 15px 0;
        }
        &--disabled {
            .flex__right {
                opacity: 0.2;
                pointer-events: none;
            }
        }
        .flex__right {
            span {
                float: right;
                text-align: center;
                width: 30px;
            }
            .choosebutton {
                float: right;
                font-size: 11px;
                height: 20px;
                margin: 4px 0 0;
                padding: 1.5px 0 0 1px;
                width: 20px;
            }
        }
    }
    .openingTimesIcon {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
    }
    .choosebutton {
        min-height: 1px;
    }

    @media screen and(max-width: 340px) {
        .flex__right .time .time__input {
            width: 55px;
        }
    }
}
