@import "../../_color";

// @deprecated
$image-size: 50px;
$image-size-small: 40px;

$person-finder-result-background-color: map_get($colors, "101");
$person-finder-result-background-2-color: map_get($colors, "102");
$person-finder-result-border-color: map_get($colors, "104");
$person-finder-result-hover-background-color: map_get($colors, "103");
$person-finder-subtitle-color: map_get($colors, "text");

.cc__person-finder {
    &__results-list--noTransition {
        .result-item {
            transition: none !important;
        }
    }

    &__overlay {
        background-color: $person-finder-result-background-color;
        border: 1px solid $person-finder-result-border-color;
        //scroll-behavior: smooth;
    }

    .cc__input-box {
        display: block !important;

        input {
            display: block;
        }
    }

    &__overlay {
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #6e6e6e;
            border-radius: 5px;
        }
    }

    &__results {
        .divider {
            padding: 3px 10px 3px 8px;
        }

        > div.cc__person-finder__results-list > :nth-child(2n) {
            background-color: $person-finder-result-background-2-color;
        }

        .load-more,
        .divider {
            background-color: $person-finder-result-background-color !important;
        }

        .result-item {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            padding: 8px 10px 5px 8px;
            transition: background-color 0.2s linear;
            width: 100%;

            &--focused,
            &:hover,
            &:focus {
                background-color: $person-finder-result-hover-background-color !important;
            }

            .img {
                background-position: center;
                background-size: cover;

                flex-shrink: 0;
                height: $image-size;

                text-align: center;
                vertical-align: middle;

                width: $image-size;
            }

            .text {
                display: flex;
                flex-basis: 100%;
                flex-direction: column;
                line-height: 1.2;

                min-width: 0;

                padding-left: 10px;
                vertical-align: text-top;

                .title {
                    display: flex;
                    flex-direction: row;

                    .identifier {
                        align-self: center;
                    }
                }

                .name {
                    padding-right: 7px;
                }

                .identifier {
                    color: $person-finder-subtitle-color;
                    font-size: 75%;
                    opacity: 0.6;
                }
            }

            .relation {
                color: $person-finder-subtitle-color;
                font-size: 75%;
                line-height: 1.5;
                opacity: 0.6;
                padding-top: 4px;
            }

            .placeholder {
                padding: 4px 8px;
            }

            .friends {
                align-items: center;
                display: flex;
                margin-top: -2px;
            }
        }

        &--friends {
            .result-item {
                .img {
                    height: $image-size-small;
                    width: $image-size-small;
                }
            }
        }
    }
}
