// @deprecated
.cc__scroll-view {
    display: inline-block;

    &__wrapper {
        float: left;
        height: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &__content {
        box-sizing: border-box;
        height: auto;
        overflow: auto;
        padding: 0;
        position: relative;
        width: calc(100% + 18px);

        &.rtl {
            right: auto;
        }
    }

    &__children {
        width: 100%;
    }

    &__scrollbar {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        cursor: pointer;
        opacity: 0;
        position: relative;
        top: 0;
        transition: opacity 0.25s linear;
        width: 5px;
        z-index: 2;
    }

    &__scrollbar:hover,
    &--grabbed .cc__scroll-view__scrollbar {
        background: rgba(0, 0, 0, 0.3);
    }

    &--grabbed,
    &--grabbed .cc__scroll-view__content {
        -o-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .cc__scroll-view--hidden {
        overflow: hidden !important;
        width: 100% !important;
    }

    &--hide {
        .cc__scroll-view__scrollbar {
            display: none;
        }
    }

    &:hover,
    &:active {
        > .cc__scroll-view__scrollbar {
            opacity: 1;
        }
    }
}

.chayns-color-mode--1 {
    .cc__scroll-view__scrollbar {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .cc__scroll-view__scrollbar:hover,
    .cc__scroll-view--grabbed .cc__scroll-view__scrollbar {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.cc__scroll-view--mobile {
    .cc__scroll-view {
        &__scrollbar {
            display: none;
        }

        &__content,
        &__content.rtl {
            width: 100%;
        }
    }
}
