@import "../../_color";

$tag-height: 24px;
$tag-color: map_get($colors, "203");
$tag-selected-color: mix($tag-color, map_get($colors, "headline"), 80%);
$tag-icon-color: map_get($colors, "text");

.cc__tag-input {
    align-items: baseline;
    -webkit-appearance: none;
    display: flex;
    flex-wrap: wrap;

    -webkit-user-modify: read-only;

    .cc__tag-input__input {
        flex-grow: 1;

        height: $tag-height;
        margin: 5px 0 0;

        overflow: hidden;
    }

    .cc__tag-input__input input {
        border: none;
    }
}

.cc__tag {
    background-color: $tag-color;
    border-radius: 100px;
    display: inline-block;

    margin: 5px 5px 0 0;

    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;

    padding-left: 10px;
    position: relative;

    transition: background-color 300ms;

    user-select: none;

    word-wrap: break-word;

    &--selected {
        background-color: $tag-selected-color;
    }

    .icon {
        color: $tag-icon-color;

        font-size: 14px;

        opacity: 0.4;

        padding: 4px 10px;

        &:hover {
            opacity: 0.8;
        }
    }
}
