@import "../../_color";

// @deprecated
.input-group {
    position: relative;

    &--disabled {
        opacity: 0.6;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.4s;
        width: 30px;
    }

    &.labelRight label,
    input:focus + label {
        left: 0 !important;
        right: 0 !important;
        .chayns--app & {
            opacity: 0;
            right: 100%;
        }
        &.labelIcon {
            opacity: 0 !important;
        }
    }

    input,
    textarea {
        display: inline-block;
        //padding-right: 25px;

        &.input {
            width: 100%;

            + label {
                color: $input-placeholder-color;
                font-family: inherit;
                font-size: 100%;
                left: 0;
                line-height: 1.15;
                margin: 6px 1px;
                opacity: 1;
                pointer-events: none;
                position: absolute;
                right: 100%;
                text-align: right;
                top: 0;
                transition: left 0.4s ease-out, right 0.4s ease-out,
                    opacity 0.4s ease-out;
                white-space: nowrap;
            }

            &[validate]:not(.valid) + label {
                color: $input-placeholder-required-color !important;
                font-weight: 700;
            }
        }
    }
}

.chayns-browser--edge .input-group {
    input,
    textarea {
        &.input + label {
            font-size: 100%;
        }
    }
}
