// @deprecated
.emoji-input {
    line-height: 26px;
    position: relative;

    &__placeholder {
        color: #757575;
        font-weight: 400;
        left: 1px;
        opacity: 1;
        padding: 4px 8px;
        pointer-events: none;
        position: absolute;
        top: 1px;
        -webkit-transition: opacity 0.35s ease-in-out;
        transition: opacity 0.35s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &--hidden {
            opacity: 0 !important;
        }
    }

    &__message-input {
        font-weight: 400 !important;
        height: auto !important;
        min-height: 36px;
        overflow-y: auto;
        word-break: break-word;

        &--hide-border {
            border: none;
        }

        &--disabled {
            background-color: transparent;
            border: 1px solid transparent;
            border-bottom-color: #5c646c;
            border-radius: 0;
            box-shadow: none;
            color: #e8e8e8;
            font-weight: 300;
            padding: 4px 8px;
        }

        &:focus + .emoji-input__placeholder {
            opacity: 0 !important;
        }

        .emojione {
            display: inline-block;
            font-size: inherit;
            height: 3ex;
            line-height: normal;
            margin: -0.2ex 0.15em 0.2ex;
            min-height: 15px;
            min-width: 15px;
            vertical-align: middle;
            width: auto;
        }
    }
}
