// @deprecated
.cc__rfid-input {
    &__wrapper {
        display: flex;

        .cc__rfid-input__input {
            align-self: flex-end;
            flex-grow: 1;
            margin-right: 20px;
        }

        .button {
            margin-top: 3px;
        }
    }
    &__control {
        margin: 15px 0;
        text-align: center;
    }

    &--enable-scan {
        .cc__rfid-input__scan,
        .cc__rfid-input__confirm {
            overflow: visible;
        }
    }
}
