@import "../../_color";

select::-ms-expand {
    display: none; // removes ugly ie arrow
}

.select {
    align-items: center;
    background-color: $select-background-color;
    border-radius: 2px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1),
        0 0 0 1px $select-border-color inset;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.12s ease;

    &::after {
        align-items: center;
        color: $select-icon-color;
        content: "\e936";
        display: flex;
        font-family: "FontTS" !important;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 100%;
        line-height: 1;
        padding-left: 8px;
        pointer-events: none;
        position: absolute;
        right: 8px;
        text-transform: none;
        top: 0;
        transition: color 0.12s ease;
    }

    select {
        appearance: none;
        background-color: transparent;
        border: none;
        color: $base-text-color;
        cursor: pointer;
        line-height: 20px;
        padding: 2px 24px 2px 12px;
        width: 100%;

        option {
            background-color: $select-background-color;
        }
    }

    &.select--disabled {
        opacity: 0.4;
    }
}

// prevents hover on mobile/in app since hover on mobile is triggered by a tap
.chayns--desktop {
    .select:not(.select--disabled):hover {
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09),
            0 0 0 1px $select-hover-border-color inset;
        &::after {
            color: $select-hover-icon-color;
        }
    }
}
