@import "../_color";

.wait-cursor {
    background-color: $wait-cursor-background-color;
    border-radius: 50%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 30px;
    padding: 5px 0 0 5px;
    transition: transform 0.25s;
    width: 30px;
    z-index: 10;
    &.hidden {
        transform: scale(0);
        .wait-cursor__spinner {
            animation: none;
        }
    }
    &__spinner {
        animation: rotate 0.75s linear infinite;
        border: 3px solid $wait-cursor-color-no-background;
        border-radius: 50%;
        border-right-color: transparent;
        display: block;
        height: 20px;
        width: 20px;
        &.hidden {
            animation: none;
            visibility: hidden;
        }
        &--inline {
            display: inline-block;
        }
    }
    .wait-cursor__spinner {
        border: 3px solid $wait-cursor-color;
        border-right-color: transparent;
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
