// tobit icons
@import url("https://api.chayns-static.space/font-ts/font-ts.css");

@font-face {
    font-family: "FontTS";
    font-style: normal;
    font-weight: normal;
    src: url("https://api.chayns-static.space/font-ts/FontTS-latest.ttf")
        format("truetype");
}
